.mbuttons {
	width: 60px;
	height: 16px;
	padding: 2px;
	
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	cursor: pointer;
	float: left;
	margin-right: 3px;
}
.lstImage {
	height: 20px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid rgb(118, 85, 194);
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #5d38e2;
	border-bottom: 1px solid #808080;
	cursor: pointer;
	float: top;
	margin-top: 3px;
}
.selImage {
	font-size: larger;
}

h3
{
    font-size:18px;
}

h4 {
    font-size:16px;
}