.mbuttons {
	width: 40;
	height: 16px;
	padding: 2px;
	
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	cursor: pointer;
	float: left;
	margin-right: 3px;
}

h3
{
    font-size:18px;
}

h4 {
    font-size:16px;
}